@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
:root{
    --primary-color: #FFFFFf;
    --secondary-color: #02060E;
    --font-color: #666666;
    --btn-color: #AB5D00;
    --horizontal-line: #AAAAAA;
    --non-highlight: #FFFFFFB2;
    --background-color: #AB5D00;
    --bg-color: #AB5D0005;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Cormorant', serif;
    color: var(--secondary-color);
}


.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-color);
}

ul,
li,
a{
    list-style: none;
    text-transform: capitalize;
}

//Header-Section css 

.site-header{
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .top-header{
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid var(--horizontal-line);

        .social-icons,
        .contact-info{
            display: flex;
            gap: 15px;
            font-family: 'Mulish',sans-serif;
            p{
                font-size: 14px;
                color: var(--non-highlight);
            }
        }
    }

    .main-header{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;

        .logo{
            display: flex;
            gap: 16px;
            font-family: 'Mulish',sans-serif;
            h1{
                font-size: 32px;
                color: #FFF;
            }
        }

        .nav-menu{
            display: flex;
            gap: 56px;
            li{
                font-family: 'Mulish';
                font-size: 16px;
            }
            a{
                color: var(--non-highlight);
                text-decoration: none;

                &:hover{
                    color: #FFF
                }
            }
        }
    }
}

/* banner-section css */
.banner-section{
    background-image: url("images/banner-img.png");
    padding: 250px 0px 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #2C1903;
        opacity: 80%;
    }

    .banner-content{
        position: relative;
        z-index: 1;

        h1{
            color: #FFF;
            font-size: 88px;
        }

        p{
            color: #FFFFFFB2;
            font-family: 'Mulish';
        }
    }
}

/*  Intro Section  */
h2{
    font-size: 56px;
}

p{
    color: var(--font-color);
    font-size: 22px;
    font-family: 'Mulish',sans-serif;
}


section{
    margin: auto;
    padding: 0 80px;
}

.section-content{
    padding-top: 100px;
}

#losinfo{
    color: #333333;
    font-size: 16px;
}

.introduction{
    font-size: 22px;
    line-height: 40px;
    font-family: 'Mulish', sans-serif;
    color: var(--font-color);

    h2{
        padding-top: 8px;
    }

    p{
        padding: 16px 16px 0 0;
    }

    .para-two{
        padding-bottom: 48px;
    }

    .count{
        display: flex;
        gap: 70px;
    }

    .count-items{
        color: var(--btn-color);
        font-size: 64px;
    }
}

.title{
    font-family: 'Mulish', sans-serif;
    color: var(--btn-color);
    font-size: 16px;
    font-style: italic;
}



.section-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* Inspire Section */

.section-description{
    padding: 60px 0px;
    display: flex;
    gap: 50px;
    background-color: var(--bg-color);

    p{
        padding-top: 16px;
        font-family: 'Mulish', sans-serif;
    }
}

button{
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 16px 36px;
    border: none;
    font-family: 'Mulish',sans-serif;
}

.btn{
    padding-top: 48px;
}

/* Hero-Section*/

.hero-section{
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
    .field-group{
        display: flex;
        gap: 426px;
        p{
            font-size: 18px;
        }
        .slide-container{
            position: relative;
            text-align: center;
            .slider{
                -webkit-appearance: none;
                outline: none;
                width: 555px;
                height: 6px;
                background-color: var(--btn-color);
            }
        }
    }
}

/* Feature-Section */
.featured-on{
    background-color: var(--bg-color);
    .feature-content{
        padding: 100px 0px 80px;
        text-align: center;
    }
    .feature-collection{
        padding-bottom: 100px;
        display: flex;
        gap: 88px;
        .xtraxt{
            img{
                padding-top: 8px ;
            }
        }
        .codemantra{
            img{
                padding-top: 16px;
            }
        }
    }
}


/* Banner-Section2 */

.banner-section2{
    background-image: url("images/Group\ 9724.png");
    padding: 120px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    h2{
        color: #FFF;
        padding-bottom: 16px;
        text-align: left;
    }
    p{
        color:#FFFFFFB2;
        font-family: 'Mulish';
        text-align: left;
    }
    .content{
        display: flex;
        gap: 100px;
        button{
            border: 1px solid #FFF;
            background-color: transparent;
            a {
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}




/* Image-Collection Section */

.img-section{
        padding: 100px 0px 80px;
        .content{
            text-align: center;
            p .title{
                padding-bottom: 8px;
            }
            h2{
                padding-bottom: 16px;
            }
        }
        .img-collection{
            padding-top: 56px;
            display: flex;
            img{
                width: 25%;
            }
        }
    }

/* Footer-Section css*/

.footer{
    .policies{
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        p{
            font-size: 16px;
            color: var(--font-color);
            font-family: 'Mulish',sans-serif;
        }
        .terms{
            display: flex;
            gap:56px;
        }
    }

    .footer-content{
        display: flex;
        border-bottom: 1px solid var(--horizontal-line);
        padding-bottom: 80px;
        h2{
            font-weight: bold;
        }

        p{
            font-size: 16px;
            font-family: 'Mulish';
            text-align: left;
            }

            .row{
                font-size: 22px;
                font-family: 'Mulish',sans-serif;
                color: #02060E;
                font-weight: bold;
                text-align: center;
            }

            #mail{
                padding: 24px 0px 14px;
            }

            .footer-description{
                flex: 1;
                h3{
                    font-size: 32px;
                    font-family: 'Cormorant';
                    padding-bottom: 23px;
                }
                .footer-col{
                    display: flex;
                    gap: 8px;
                }
            }

            .footer-link{
                flex: 1;
                font-size: 18px;
                font-family: 'Mulish';
                ul{
                    padding-top: 24px;
                    text-align: left;
                    padding-left: 73px;
                }
                li{
                    padding-bottom: 16px;
                }
                a{
                    color: var(--font-color);
                    text-decoration: none;
                }
            }

            .footer-services{
                flex: 1;
                font-size: 18px;
                font-family: 'Mulish';
                ul{
                    padding-top: 24px;
                    color: var(--font-color);
                    text-align: left;
                    padding-left: 87px;
                }
                li{
                    padding-bottom: 16px;
                }
            }
            .footer-icons{
                .social-links{
                    display: flex;
                    gap: 10px;
                    padding-top: 24px;
                    justify-content: center;
                    padding-left: 127px;
                    .social-icons{
                        background-color: #AAAAAA1A;
                        padding: 12px;
                        &:hover{
                            background-color: var(--btn-color);
                        }
                    }
                }
            }
        }
    }
