@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --primary-color: #AB5D00;
    --secondary-color: #AB5D0005;
    --base-font-color: #333333;
    --font-color: #666666;
    --heading-color: #02060E;
    --base-font: 16px;
    --link-font: 18px;
    --base-font-xl: 22px;
    --heading-font: 56px;
    --horizontal-line: #AAAAAA;
    --non-highlight: #FFFFFFB2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Cormorant', serif;
    color: var(--heading-color);
}


.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--base-font-color);
    background-color: #FFF;
}

ul,
li,
a{
    list-style: none;
}

//Header-Section css 

.site-header{
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid var(--horizontal-line);

        .social-icons,
        .contact-info{
            display: flex;
            gap: 15px;
            p{
                font-size: 14px;
                color: var(--non-highlight);
            }
            .email, .phone{
                display:flex;
                align-items: center;
                gap: 8px;
            }
            a{
                text-decoration: none;
                color: var(--non-highlight);
                &:hover{
                    color: #FFF;
                }
            }
        }
    }

    .main-header{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;

        .nav-menu{
            display: flex;
            gap: 56px;
            align-items: center;
            a{
                color: var(--non-highlight);
                text-decoration: none;

                &:hover{
                    color: #FFF
                }
            }
        }
    }
}

/* banner-section css */
.banner-section{
    background-image: url("images/banner-img.png");
    padding: 250px 0px 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #2C1903;
        opacity: 80%;
    }

    .banner-content{
        position: relative;
        z-index: 1;
        text-align: center;
        h1{
            color: #FFF;
            font-size: 88px;
        }
        
        p{
            margin: 0 auto;
            color: #FFFFFFB2;
            font-size: var(--base-font-xl);
            max-width: 792px;
        }
    }
}

h2{
    font-size: var(--heading-font);
}
/*  Intro Section  */

.intro{
    .section-content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 100px;
        .introduction{
            line-height: 40px;
            color: var(--font-color);        
            h2{
                padding: 8px 0px 16px;
            }

            p{
                font-size: var(--base-font-xl);
                // &:not(:last-of-type){
                //     margin-bottom: 16px;
                // }
            }
            
            .para-two{
                padding-top: 16px;
            }
            .count{
                display: flex;
                justify-content: space-between;
                padding-top: 48px;
                .count-items{
                    color: var(--primary-color);
                    font-size: 64px;

                }
            }
        

        }
    }
    
}
.title{
    color: var(--primary-color);
    font-style: italic;
    font-size: var(--base-font);
}


#losinfo{
    font-size: var(--base-font);
    color: var(--base-font-color);
}

.note{
    font-size: var(--base-font-xl);
    color: var(--font-color);
}



/* Inspire Section */
.section-description{
    .row{
        padding: 60px 0px;
        display: flex;
        gap: 50px;
        background-color: var(--bg-color);
        p{
            padding-top: 16px;
        }
    }
    
    a{
        color: #FFF;
        background-color: var(--primary-color);
        padding: 16px 36px;
        border: none;
        text-decoration: none;
        &:hover{
            background-color: var(--font-color);
        }
    }
    
    .btn{
        padding-top: 48px;
    }
}

/* Hero-Section*/

.hero-section{
    .hero-content{
        display: flex;
        justify-content: space-between;
        gap:30px;
        padding: 100px 0px;
        .expert{
            flex: 1;
            .expertise{
                padding-top: 16px;
                font-size: var(--base-font-xl);
                color: var(--font-color);
            }
        }
        .range-menu{
            flex: 1;
            .skills{
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 18px;
                    padding: 24px 0px 15px;
                }
            }
            // .slide-container{
            //     width: 100%;
            //     .slider{
            //         appearance: none;
            //         width: 100%;
            //         height: 8px;
            //         background-color: #DDDDDD;
            //         outline: none;
            //         opacity: 0.7;
            //         -webkit-transition: .2s;
            //         transition: opacity .2s;
            //         &:hover{
            //             opacity: 1;
            //         }
            //         &::-webkit-slider-thumb{
            //             /* removing default appearance */
            //             appearance: none;
            //             width: 9px;
            //             height: 8px;
            //             background: var(--primary-color);
            //             cursor: pointer;
            //         }
            //     }
            // }
            .progress-bar{
                background-color: #DDDDDD;
                width: 100%;
                height: 8px;
                div{
                    height: 8px;
                    width: 0%;
                    background-color: var(--primary-color);
                }
                .photoshop{
                    // background-color: red;
                    animation: photoshop 1s linear forwards;
                }
                .adobe{
                    // background-color: green;
                    animation: adobe 1s linear forwards;

                }
                .adobe-after{
                    // background-color: blue;
                    animation: adobe-after 1s linear forwards;

                }
                @keyframes photoshop{
                    100%{
                        width: 92%;
                    }
                }
                @keyframes adobe{
                    100%{
                        width: 52%;
                    }
                }
                @keyframes adobe-after{
                    100%{
                        width: 72%;
                    }
                }

            }
        }
   }
}

/* Feature-Section */
.featured-on{
    background-color: var(--bg-color);
    padding-bottom: 100px;
    .feature-content{
        padding: 100px 0px 80px;
        text-align: center;
    }
    .feature-collection{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        gap: 88px;
    }
}


/* Banner-Section2 */

.banner-section2{
    background-image: url("images/Group\ 9724.png");
    padding: 120px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .content{
        display: flex;
        align-items: center;
        gap:110px;
        .contact{
            flex: 1;
            h2{
                color: #FFF;
                padding-bottom: 16px;
                text-align: left;
            }
            p{
                color:#FFFFFFB2;
                font-size: var(--base-font-xl);
            }
        }
        a{
            color: #FFF;
            background-color: transparent;
            padding: 16px 36px;
            border: none;
            text-decoration: none;
            border: 1px solid #FFF;
            &:hover{
                background-color: var(--primary-color);
            }
        }
    }
}




/* Image-Collection Section */

.img-section{
        padding: 100px 0px 80px;
        .content{
            text-align: center;
            p .title{
                padding-bottom: 8px;
            }
            h2{
                padding-bottom: 16px;
            }
        }
        .img-collection{
            padding-top: 56px;
            display: flex;
            // display: grid;
            // grid-template-columns: repeat(4,1fr);
            img{
                width: 25%;
            }
        }
    }

/* Footer-Section css*/

.footer{
    a{
        color: var(--font-color);
        text-decoration: none;
        text-transform: capitalize;
        &:hover{
            color: var(--primary-color);
        }
    }
    .policies{
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        p{
            color: var(--font-color);
        }
        .terms{
            display: flex;
            gap:56px;
        }
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--horizontal-line);
        padding-bottom: 80px;
        h2{
            font-weight: bold;
        }

            .row{
                font-size: 22px;
                color: #02060E;
                font-weight: bold;
            }

            #mail{
                padding: 24px 0px 14px;
            }

            .footer-description{
                flex: 1;
                max-width: 32%;
                #info{
                    color: var(--font-color);
                    padding-top: 23px;
                }
                .footer-col{
                    display: flex;
                    gap: 8px;
                    font-size: 14px;
                    color: #02060E;
                }
            }

            .footer-link{
                font-size: var(--link-font);
                ul{
                    padding-top: 24px;
                }
                li{
                    padding-bottom: 16px;
                }
            }

            .footer-services{
                font-size: var(--link-font);
                ul{
                    padding-top: 24px;
                }
                li{
                    padding-bottom: 16px;
                }
            }

            .footer-icons{
                .social-links{
                    display: flex;
                    gap: 10px;
                    padding-top: 24px;
                    justify-content: center;
                    .social-icons{
                        background-color: #AAAAAA1A;
                        padding: 12px;
                        &:hover{
                            background-color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
