@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  --primary-color: #FFFFFf;
  --secondary-color: #02060E;
  --font-color: #666666;
  --btn-color: #AB5D00;
  --horizontal-line: #AAAAAA;
  --non-highlight: #FFFFFFB2;
  --background-color: #AB5D00;
  --bg-color: #AB5D0005;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant", serif;
  color: var(--secondary-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-color);
}

ul,
li,
a {
  list-style: none;
  text-transform: capitalize;
}

.site-header {
  position: absolute;
  color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.site-header .top-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--horizontal-line);
}
.site-header .top-header .social-icons,
.site-header .top-header .contact-info {
  display: flex;
  gap: 15px;
  font-family: "Mulish", sans-serif;
}
.site-header .top-header .social-icons p,
.site-header .top-header .contact-info p {
  font-size: 14px;
  color: var(--non-highlight);
}
.site-header .main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.site-header .main-header .logo {
  display: flex;
  gap: 16px;
  font-family: "Mulish", sans-serif;
}
.site-header .main-header .logo h1 {
  font-size: 32px;
  color: #FFF;
}
.site-header .main-header .nav-menu {
  display: flex;
  gap: 56px;
}
.site-header .main-header .nav-menu li {
  font-family: "Mulish";
  font-size: 16px;
}
.site-header .main-header .nav-menu a {
  color: var(--non-highlight);
  text-decoration: none;
}
.site-header .main-header .nav-menu a:hover {
  color: #FFF;
}

/* banner-section css */
.banner-section {
  background-image: url("images/banner-img.png");
  padding: 250px 0px 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2C1903;
  opacity: 80%;
}
.banner-section .banner-content {
  position: relative;
  z-index: 1;
}
.banner-section .banner-content h1 {
  color: #FFF;
  font-size: 88px;
}
.banner-section .banner-content p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: "Mulish";
}

/*  Intro Section  */
h2 {
  font-size: 56px;
}

p {
  color: var(--font-color);
  font-size: 22px;
  font-family: "Mulish", sans-serif;
}

section {
  margin: auto;
  padding: 0 80px;
}

.section-content {
  padding-top: 100px;
}

#losinfo {
  color: #333333;
  font-size: 16px;
}

.introduction {
  font-size: 22px;
  line-height: 40px;
  font-family: "Mulish", sans-serif;
  color: var(--font-color);
}
.introduction h2 {
  padding-top: 8px;
}
.introduction p {
  padding: 16px 16px 0 0;
}
.introduction .para-two {
  padding-bottom: 48px;
}
.introduction .count {
  display: flex;
  gap: 70px;
}
.introduction .count-items {
  color: var(--btn-color);
  font-size: 64px;
}

.title {
  font-family: "Mulish", sans-serif;
  color: var(--btn-color);
  font-size: 16px;
  font-style: italic;
}

.section-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

/* Inspire Section */
.section-description {
  padding: 60px 0px;
  display: flex;
  gap: 50px;
  background-color: var(--bg-color);
}
.section-description p {
  padding-top: 16px;
  font-family: "Mulish", sans-serif;
}

button {
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 16px 36px;
  border: none;
  font-family: "Mulish", sans-serif;
}

.btn {
  padding-top: 48px;
}

/* Hero-Section*/
.hero-section {
  display: flex;
  padding: 100px 0px;
  justify-content: space-between;
}
.hero-section .field-group {
  display: flex;
  gap: 426px;
}
.hero-section .field-group p {
  font-size: 18px;
}
.hero-section .field-group .slide-container {
  position: relative;
  text-align: center;
}
.hero-section .field-group .slide-container .slider {
  -webkit-appearance: none;
  outline: none;
  width: 555px;
  height: 6px;
  background-color: var(--btn-color);
}

/* Feature-Section */
.featured-on {
  background-color: var(--bg-color);
}
.featured-on .feature-content {
  padding: 100px 0px 80px;
  text-align: center;
}
.featured-on .feature-collection {
  padding-bottom: 100px;
  display: flex;
  gap: 88px;
}
.featured-on .feature-collection .xtraxt img {
  padding-top: 8px;
}
.featured-on .feature-collection .codemantra img {
  padding-top: 16px;
}

/* Banner-Section2 */
.banner-section2 {
  background-image: url("images/Group 9724.png");
  padding: 120px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section2 h2 {
  color: #FFF;
  padding-bottom: 16px;
  text-align: left;
}
.banner-section2 p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: "Mulish";
  text-align: left;
}
.banner-section2 .content {
  display: flex;
  gap: 100px;
}
.banner-section2 .content button {
  border: 1px solid #FFF;
  background-color: transparent;
}
.banner-section2 .content button a {
  color: #FFF;
  text-decoration: none;
}

/* Image-Collection Section */
.img-section {
  padding: 100px 0px 80px;
}
.img-section .content {
  text-align: center;
}
.img-section .content p .title {
  padding-bottom: 8px;
}
.img-section .content h2 {
  padding-bottom: 16px;
}
.img-section .img-collection {
  padding-top: 56px;
  display: flex;
}
.img-section .img-collection img {
  width: 25%;
}

/* Footer-Section css*/
.footer .policies {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
.footer .policies p {
  font-size: 16px;
  color: var(--font-color);
  font-family: "Mulish", sans-serif;
}
.footer .policies .terms {
  display: flex;
  gap: 56px;
}
.footer .footer-content {
  display: flex;
  border-bottom: 1px solid var(--horizontal-line);
  padding-bottom: 80px;
}
.footer .footer-content h2 {
  font-weight: bold;
}
.footer .footer-content p {
  font-size: 16px;
  font-family: "Mulish";
  text-align: left;
}
.footer .footer-content .row {
  font-size: 22px;
  font-family: "Mulish", sans-serif;
  color: #02060E;
  font-weight: bold;
  text-align: center;
}
.footer .footer-content #mail {
  padding: 24px 0px 14px;
}
.footer .footer-content .footer-description {
  flex: 1;
}
.footer .footer-content .footer-description h3 {
  font-size: 32px;
  font-family: "Cormorant";
  padding-bottom: 23px;
}
.footer .footer-content .footer-description .footer-col {
  display: flex;
  gap: 8px;
}
.footer .footer-content .footer-link {
  flex: 1;
  font-size: 18px;
  font-family: "Mulish";
}
.footer .footer-content .footer-link ul {
  padding-top: 24px;
  text-align: left;
  padding-left: 73px;
}
.footer .footer-content .footer-link li {
  padding-bottom: 16px;
}
.footer .footer-content .footer-link a {
  color: var(--font-color);
  text-decoration: none;
}
.footer .footer-content .footer-services {
  flex: 1;
  font-size: 18px;
  font-family: "Mulish";
}
.footer .footer-content .footer-services ul {
  padding-top: 24px;
  color: var(--font-color);
  text-align: left;
  padding-left: 87px;
}
.footer .footer-content .footer-services li {
  padding-bottom: 16px;
}
.footer .footer-content .footer-icons .social-links {
  display: flex;
  gap: 10px;
  padding-top: 24px;
  justify-content: center;
  padding-left: 127px;
}
.footer .footer-content .footer-icons .social-links .social-icons {
  background-color: rgba(170, 170, 170, 0.1019607843);
  padding: 12px;
}
.footer .footer-content .footer-icons .social-links .social-icons:hover {
  background-color: var(--btn-color);
}/*# sourceMappingURL=style.css.map */