@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&family=Heebo:wght@100;200;300;400;500&family=Inter:wght@100;200;300;400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,500;1,300&family=Roboto:wght@400;500;700&display=swap");
:root {
  --primary-color: #FFFFFf;
  --secondary-color: #02060E;
  --font-color: #666666;
  --btn-color: #AB5D00;
  --horizontal-line: #AAAAAA;
  --non-highlight: #FFFFFFB2;
  --background-color: #AB5D00;
  --image-border: #C4C4C4;
  --bg-color:#AB5D0005;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant", serif;
  color: var(--secondary-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-color);
}

ul, li {
  list-style: none;
}

.site-header {
  position: absolute;
  color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.site-header .top-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--horizontal-line);
}
.site-header .top-header .social-icons, .site-header .top-header .contact-info {
  display: flex;
  gap: 15px;
}
.site-header .main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.site-header .main-header .nav-menu {
  display: flex;
  gap: 56px;
}
.site-header .main-header .nav-menu a {
  color: var(--non-highlight);
  text-decoration: none;
}
.site-header .main-header .nav-menu a:hover {
  color: #FFF;
}

/* banner-section css */
.banner-section {
  background-image: url("images/banner-img.png");
  padding: 250px 0px 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2C1903;
  opacity: 80%;
}
.banner-section .banner-content {
  position: relative;
  z-index: 1;
}
.banner-section .banner-content h1 {
  color: #FFF;
}
.banner-section .banner-content p {
  color: rgba(255, 255, 255, 0.6980392157);
}

section {
  margin: auto;
  padding: 0 80px;
}

.section-content img {
  transform: translateY(5%) rotate(4deg);
  border: 5px solid var(--image-border);
}

.introduction {
  font-size: 22px;
  line-height: 40px;
  font-family: "Mulish", sans-serif;
  color: var(--font-color);
}

section span, .spirit, .skill {
  font-family: "Mulish", sans-serif;
  color: var(--btn-color);
  font-size: 16px;
  font-style: italic;
}

section h2 {
  color: var(--secondary-color);
  padding-top: 15px;
}

.introduction .para-one, .introduction .para-two {
  padding-top: 15px;
}

.introduction .title {
  color: var(--secondary-color);
  font-size: 16px;
}

.count {
  display: flex;
  gap: 25px;
  padding-top: 20px;
}

.count-items {
  color: var(--btn-color);
  font-size: 40px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.section-description {
  padding: 60px 0px;
  display: flex;
  gap: 50px;
  background-color: var(--bg-color);
}

.section-description img {
  transform: translateY(5%) rotate(-5deg);
  border: 5px solid var(--primary-color);
}

section .note {
  font-size: 22px;
  color: var(--font-color);
  padding-top: 15px;
  font-family: "Mulish", sans-serif;
}

.section-description .para-one, .section-description .para-two {
  padding-top: 15px;
  font-size: 16px;
  color: #333333;
}

button {
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 10px;
  border: none;
}

.btn {
  padding-top: 20px;
}

.hero-section {
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
}

.range-items {
  display: flex;
  justify-content: space-between;
}

.range-items .percent {
  color: var(--font-color);
}/*# sourceMappingURL=style.css.map */