@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-color: #AB5D00;
  --secondary-color: #AB5D0005;
  --base-font-color: #333333;
  --font-color: #666666;
  --heading-color: #02060E;
  --base-font: 16px;
  --link-font: 18px;
  --base-font-xl: 22px;
  --heading-font: 56px;
  --horizontal-line: #AAAAAA;
  --non-highlight: #FFFFFFB2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant", serif;
  color: var(--heading-color);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--base-font-color);
  background-color: #FFF;
}

ul,
li,
a {
  list-style: none;
}

.site-header {
  position: absolute;
  color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.site-header .top-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--horizontal-line);
}
.site-header .top-header .social-icons,
.site-header .top-header .contact-info {
  display: flex;
  gap: 15px;
}
.site-header .top-header .social-icons p,
.site-header .top-header .contact-info p {
  font-size: 14px;
  color: var(--non-highlight);
}
.site-header .top-header .social-icons a:hover,
.site-header .top-header .contact-info a:hover {
  background-color: var(--primary-color);
}
.site-header .main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.site-header .main-header .nav-menu {
  display: flex;
  gap: 56px;
}
.site-header .main-header .nav-menu a {
  color: var(--non-highlight);
  text-decoration: none;
}
.site-header .main-header .nav-menu a:hover {
  color: #FFF;
}

/* banner-section css */
.banner-section {
  background-image: url("images/banner-img.png");
  padding: 250px 0px 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2C1903;
  opacity: 80%;
}
.banner-section .banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.banner-section .banner-content h1 {
  color: #FFF;
  font-size: 88px;
}
.banner-section .banner-content p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: var(--base-font-xl);
}

h2 {
  font-size: var(--heading-font);
}

/*  Intro Section  */
.intro .section-content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px 100px;
}
.intro .section-content .introduction {
  line-height: 40px;
  color: var(--font-color);
}
.intro .section-content .introduction h2 {
  padding: 8px 0px 16px;
}
.intro .section-content .introduction p {
  font-size: var(--base-font-xl);
}
.intro .section-content .introduction .para-two {
  padding-top: 16px;
}
.intro .section-content .introduction .count {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.intro .section-content .introduction .count .count-items {
  color: var(--primary-color);
  font-size: 64px;
}

.title {
  color: var(--primary-color);
  font-style: italic;
  font-size: var(--base-font);
}

#losinfo {
  font-size: var(--base-font);
  color: var(--base-font-color);
}

.note {
  font-size: var(--base-font-xl);
  color: var(--font-color);
}

/* Inspire Section */
.section-description .row {
  padding: 60px 0px;
  display: flex;
  gap: 50px;
  background-color: var(--bg-color);
}
.section-description .row p {
  padding-top: 16px;
}
.section-description button {
  color: #FFF;
  background-color: var(--primary-color);
  padding: 16px 36px;
  border: none;
}
.section-description .btn {
  padding-top: 48px;
}

/* Hero-Section*/
.hero-section .hero-content {
  display: flex;
  padding: 100px 0px;
}
.hero-section .hero-content .expertise {
  padding-top: 16px;
  max-width: 70%;
  font-size: var(--base-font-xl);
  color: var(--font-color);
}
.hero-section .hero-content .range-menu {
  flex: 1;
}
.hero-section .hero-content .range-menu .skills {
  display: flex;
  gap: 200px;
}
.hero-section .hero-content .range-menu .skills p {
  font-size: 18px;
  padding: 24px 0px 15px;
}
.hero-section .hero-content .range-menu .progress-bar {
  background-color: #DDDDDD;
  width: 100%;
  height: 8px;
}
.hero-section .hero-content .range-menu .progress-bar div {
  height: 8px;
  width: 0%;
  background-color: var(--primary-color);
}
.hero-section .hero-content .range-menu .progress-bar .photoshop {
  animation: photoshop 1s linear forwards;
}
.hero-section .hero-content .range-menu .progress-bar .adobe {
  animation: adobe 1s linear forwards;
}
.hero-section .hero-content .range-menu .progress-bar .adobe-after {
  animation: adobe-after 1s linear forwards;
}
@keyframes photoshop {
  100% {
    width: 92%;
  }
}
@keyframes adobe {
  100% {
    width: 52%;
  }
}
@keyframes adobe-after {
  100% {
    width: 72%;
  }
}

/* Feature-Section */
.featured-on {
  background-color: var(--bg-color);
  padding-bottom: 100px;
}
.featured-on .feature-content {
  padding: 100px 0px 80px;
  text-align: center;
}
.featured-on .feature-collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 88px;
}

/* Banner-Section2 */
.banner-section2 {
  background-image: url("images/Group 9724.png");
  padding: 120px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section2 .content {
  display: flex;
}
.banner-section2 .content .contact {
  flex: 1;
}
.banner-section2 .content .contact h2 {
  color: #FFF;
  padding-bottom: 16px;
  text-align: left;
}
.banner-section2 .content .contact p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: var(--base-font-xl);
}
.banner-section2 .content button {
  border: 1px solid #FFF;
  background-color: transparent;
  padding: 16px 36px;
}
.banner-section2 .content button a {
  color: #FFF;
  text-decoration: none;
}

/* Image-Collection Section */
.img-section {
  padding: 100px 0px 80px;
}
.img-section .content {
  text-align: center;
}
.img-section .content p .title {
  padding-bottom: 8px;
}
.img-section .content h2 {
  padding-bottom: 16px;
}
.img-section .img-collection {
  padding-top: 56px;
  display: flex;
}
.img-section .img-collection img {
  width: 25%;
}

/* Footer-Section css*/
.footer a {
  color: var(--font-color);
  text-decoration: none;
  text-transform: capitalize;
}
.footer .policies {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
.footer .policies p {
  color: var(--font-color);
}
.footer .policies .terms {
  display: flex;
  gap: 56px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--horizontal-line);
  padding-bottom: 80px;
}
.footer .footer-content h2 {
  font-weight: bold;
}
.footer .footer-content .row {
  font-size: 22px;
  color: #02060E;
  font-weight: bold;
}
.footer .footer-content #mail {
  padding: 24px 0px 14px;
}
.footer .footer-content .footer-description {
  flex: 1;
  max-width: 32%;
}
.footer .footer-content .footer-description #info {
  color: var(--font-color);
  padding-top: 23px;
}
.footer .footer-content .footer-description .footer-col {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #02060E;
}
.footer .footer-content .footer-link {
  font-size: var(--link-font);
}
.footer .footer-content .footer-link ul {
  padding-top: 24px;
}
.footer .footer-content .footer-link li {
  padding-bottom: 16px;
}
.footer .footer-content .footer-services {
  font-size: var(--link-font);
}
.footer .footer-content .footer-services ul {
  padding-top: 24px;
}
.footer .footer-content .footer-services li {
  padding-bottom: 16px;
}
.footer .footer-content .footer-icons .social-links {
  display: flex;
  gap: 10px;
  padding-top: 24px;
  justify-content: center;
}
.footer .footer-content .footer-icons .social-links .social-icons {
  background-color: rgba(170, 170, 170, 0.1019607843);
  padding: 12px;
}
.footer .footer-content .footer-icons .social-links .social-icons:hover {
  background-color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */